/* 
********
RESET
********
 */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 /* 
********
DEBUG
********
 */

 body.debug {
    background: blue;
 }

 .debug .content-box {
    border: 1px dashed black;
 }

 .debug header {
    background-color: #add8e6;
 }

 .debug .header-top-container {
    background-color: #daa520;
 }

 .debug .header-bottom {
    background-color: #00008b;
    border-bottom: 3px solid #bae8ed;
 }

 .debug .featured-content {
    background-color: #ee82ee;
    height: 420px;
 }

 .debug .section-one, .section-three {
    background-color: #ffffff;
}

.debug .section-two, .section-four {
    background-color: #d3d3d3;
}

.debug .section-container {
    height: 620px;
}

.debug .first-content {
    background-color: #1e90ff;
}

.debug .second-content {
    background-color: #ffc0cb;
}

 /* 
********
COMMON
********
 */

 body {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
 }

 .flexbox {
    display: flex;
 }

 .layout {
    width: 1250px;
    margin: 0 auto;
 }

 /* 
********
HEADER
********
 */


 .header-top {
    padding-top: 16px;
    padding-bottom: 16px;
 }

 .logo, .login, nav {
    padding: 8px;
 }

 .logo, .login {
    width: 250px;
 }

 .login {
    text-align: end;
 }

 nav ul {
    list-style: none;
    justify-content: center;
    gap: 13px;
 }

 nav {
    flex-grow: 1;
 }

 .featured-content {
    width: 950px;
    margin: 0 auto;
 }

 .header-bottom {
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
 }

 /* 
********
MAIN
********
 */

.section-container {
    padding: 50px 0;
}

.first-content {
    width: 750px;
}

.second-content {
    flex-grow: 1;  
}

.section-two .section-container {
    flex-direction: row-reverse;
}


 /* 
********
FOOTER
********
 */