/* 
********
RESET
********
 */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 /* 
********
DEBUG
********
 */

 body.debug {
    background: blue;
 }

 .debug .content-box {
    border: 1px dashed black;
 }

 .debug header {
    background-color: #add8e6;
 }

 .debug .header-top-container {
    background-color: #daa520;
 }

 .debug .header-bottom {
    background-color: #00008b;
    border-bottom: 3px solid #bae8ed;
 }

 .debug .featured-content {
    background-color: #ee82ee;
    height: 420px;
 }

 .debug .section-one, .section-three {
    background-color: #ffffff;
}

.debug .section-two, .section-four {
    background-color: #d3d3d3;
}

.debug .section-container {
    height: 520px;
}

.debug .first-content {
    background-color: #1e90ff;
}

.debug .second-content {
    background-color: #ffc0cb;
}

.debug .section-container-big {
    background-color: #228b22;
    height: 937px;
}

.debug .footer-top, .debug .footer-bottom {
    background-color: #23272a;
    border-top: 1px solid #b4b4b3;
    border-bottom: 1px solid #b4b4b3;
}

.debug .footer-featured {
    height: 605px;
}

.debug .footer-first-content {
    background-color: #f08080;
}

.debug .footer-second-content {
    background-color: #20b2aa;
}

.debug .vertical-banner {
    border: 1px dashed white;
}

.debug .bottom-banner {
    background-color: #7fffd4;
}

.debug .logo-bottom, .debug .footer-button {
    background-color: #ffb6c1;
    font-size: 1.2rem;
}



 /* 
********
COMMON
********
 */

 body {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
 }

 .flexbox {
    display: flex;
 }

 .layout {
    width: 1250px;
    margin: 0 auto;
 }

 /* 
********
HEADER
********
 */


 .header-top {
    padding-top: 16px;
    padding-bottom: 16px;
 }

 .logo, .login, nav {
    padding: 8px;
 }

 .logo, .login {
    width: 250px;
 }

 .login {
    text-align: end;
 }

 nav ul {
    list-style: none;
    justify-content: center;
    gap: 13px;
 }

 nav {
    flex-grow: 1;
 }

 .featured-content {
    width: 950px;
    margin: 0 auto;
 }

 .header-bottom {
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
 }

 /* 
********
MAIN
********
 */

.section {
    padding: 50px 0;
}

.first-content {
    width: 750px;
}

.second-content {
    flex-grow: 1;  
}

.section-two .section-container {
    flex-direction: row-reverse;
}


 /* 
********
FOOTER
********
 */

 .footer-top {
    padding-top: 10px;
    padding-bottom: 40px;
 }

.footer-first-content {
    width: 375px;
}

.footer-second-content {
    flex-grow: 1;
}

.vertical-banner {
    flex-grow: 1;
}

.footer-bottom {
    padding-top: 30px;
}

.bottom-banner {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-bottom, .footer-button {
    padding: 10px;
}
